.navbarLogo{
    font-weight: 600;
    padding-left: 20px;
}

.header_right{
    display: inline-block;
    margin-top: 10px;
}

.auth{
    display: inline-block;
    a{
        text-decoration: none;
        color: white;
        margin-right: 10px;
    }
}


.widget{
    display: inline-block;
    padding-left: 50px;
  }

.widget li{
    list-style: none;
    display: inline-block;
    color:white;
    margin-right: 20px;
  }

  .fa-shopping-cart{
      position: relative;
  }

  .cartItems{
      position: absolute;
      left: 10px;
      bottom: 10px;
      height: 20x;
      width: 20px;
      background: orange;
      border-radius: 50%;
      font-size: 12px;
      font-weight: bold;
      line-height: 20px;
      text-align: center;
  }