.product_details_text{
    h3{
        font-weight: bold;
        margin-bottom: 15px;
    }

    .rating{
        margin-bottom: 10px;
        i{
            font-size: 12px;
            color: rgb(221, 208, 23);
        }
    }

    .product_price{
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 50px;
    }
}

.form-control{
    max-width: 200px;
}